1. Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [14]:
ciudades = ['London', 'Berlin', 'Paris', 'New York', 'Buenos Aires', 'California', 'Brighton']
print(ciudades)

['London', 'Berlin', 'Paris', 'New York', 'Buenos Aires', 'California', 'Brighton']

2) Imprimir por pantalla el segundo elemento de la lista

In [15]:
print(ciudades[1])

Berlin

3) Imprimir por pantalla del segundo al cuarto elemento

In [16]:
print(ciudades[1:4])

['Berlin', 'Paris', 'New York']

4) Visualizar el tipo de dato de la lista

In [17]:
type(ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [18]:
print(ciudades[2:])

['Paris', 'New York', 'Buenos Aires', 'California', 'Brighton']

6) Visualizar los primeros 4 elementos de la lista

In [19]:
print(ciudades[:4])

['London', 'Berlin', 'Paris', 'New York']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [20]:
ciudades.append('London')

In [21]:
ciudades.append('Mendoza')

8) Agregar otra ciudad, pero en la cuarta posición

In [22]:
ciudades.insert(3, 'Barcelona')

9) Concatenar otra lista a la ya creada

In [23]:
ciudades_asiaticas = ['Tokio', 'Seul', 'Pekin']
ciudades.extend(ciudades_asiaticas)
ciudades

['London',
 'Berlin',
 'Paris',
 'Barcelona',
 'New York',
 'Buenos Aires',
 'California',
 'Brighton',
 'London',
 'Mendoza',
 'Tokio',
 'Seul',
 'Pekin']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [24]:
ciudades.index('London')

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [25]:
ciudades.index('Munchen')

ValueError: 'Munchen' is not in list

12) Eliminar un elemento de la lista

In [ ]:
ciudades.remove('London')

In [ ]:
ciudades

['Berlin',
 'Paris',
 'Barcelona',
 'New York',
 'Buenos Aires',
 'California',
 'Brighton',
 'London',
 'Mendoza',
 'Tokio',
 'Seul',
 'Pekin']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [ ]:
ciudades.remove('Munchen')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [26]:
ciudades

['London',
 'Berlin',
 'Paris',
 'Barcelona',
 'New York',
 'Buenos Aires',
 'California',
 'Brighton',
 'London',
 'Mendoza',
 'Tokio',
 'Seul',
 'Pekin']

In [29]:
ultimo_elemento = ciudades.pop()

ultimo_elemento

'Pekin'

15) Mostrar la lista multiplicada por 4

In [31]:
ciudades * 4

['London',
 'Berlin',
 'Paris',
 'Barcelona',
 'New York',
 'Buenos Aires',
 'California',
 'Brighton',
 'London',
 'Mendoza',
 'Tokio',
 'Seul',
 'London',
 'Berlin',
 'Paris',
 'Barcelona',
 'New York',
 'Buenos Aires',
 'California',
 'Brighton',
 'London',
 'Mendoza',
 'Tokio',
 'Seul',
 'London',
 'Berlin',
 'Paris',
 'Barcelona',
 'New York',
 'Buenos Aires',
 'California',
 'Brighton',
 'London',
 'Mendoza',
 'Tokio',
 'Seul',
 'London',
 'Berlin',
 'Paris',
 'Barcelona',
 'New York',
 'Buenos Aires',
 'California',
 'Brighton',
 'London',
 'Mendoza',
 'Tokio',
 'Seul']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [33]:
a = list(range(21))

tupla_numeros = tuple(a)
tupla_numeros

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [34]:
print(tupla_numeros[10:15])

(10, 11, 12, 13, 14)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [36]:
tupla_numeros.index(20)

20

In [37]:
tupla_numeros.index(30)

ValueError: tuple.index(x): x not in tuple

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [38]:
Paris_esta = False
if (ciudades.index('Paris')):
    Paris_esta = True;
else:
    ciudades.append('Paris')
print(Paris_esta)

True

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [42]:
print(ciudades.count('London'))

print(tupla_numeros.count(2))

2
1

21) Convertir la tupla en una lista

In [43]:
lista_numeros = list(tupla_numeros)

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [45]:
elem_1, elem_2, elem_3 = tupla_numeros[1], tupla_numeros[2], tupla_numeros[3]
print(elem_1, elem_2, elem_3)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [46]:
ciudades

['London',
 'Berlin',
 'Paris',
 'Barcelona',
 'New York',
 'Buenos Aires',
 'California',
 'Brighton',
 'London',
 'Mendoza',
 'Tokio',
 'Seul']

In [47]:
Pais = ['UK', 'Alemania', 'Francia','España', 'USA', 'Argentina','USA','UK','UK','Argentina','Japon','Corea del Sur']
Continente = ['Europa','Europa','Europa','Europa','America', 'America', 'America', 'Europa','Europa','America','Asia','Asia']

dicc_ciudades = {'ciudades' : ciudades,
                 'Paises': Pais,
                 'Continente': Continente}

dicc_ciudades

{'ciudades': ['London',
  'Berlin',
  'Paris',
  'Barcelona',
  'New York',
  'Buenos Aires',
  'California',
  'Brighton',
  'London',
  'Mendoza',
  'Tokio',
  'Seul'],
 'Paises': ['UK',
  'Alemania',
  'Francia',
  'España',
  'USA',
  'Argentina',
  'USA',
  'UK',
  'UK',
  'Argentina',
  'Japon',
  'Corea del Sur'],
 'Continente': ['Europa',
  'Europa',
  'Europa',
  'Europa',
  'America',
  'America',
  'America',
  'Europa',
  'Europa',
  'America',
  'Asia',
  'Asia']}

24) Imprimir las claves del diccionario

In [48]:
print(dicc_ciudades.keys())

dict_keys(['ciudades', 'Paises', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [49]:
print(dicc_ciudades['ciudades'])

['London', 'Berlin', 'Paris', 'Barcelona', 'New York', 'Buenos Aires', 'California', 'Brighton', 'London', 'Mendoza', 'Tokio', 'Seul']